.contact_body{
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}
.contact_body{
    padding: 50px 0;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact_info h2{
    text-align: center;
}
.contact_page{
    margin: 50px;
    padding: 50px 0;
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    /* border: 2px dotted black;
    border-radius: 10px; */
    /* background-color: gray; */
}
.contact_page table tr td{
    padding: 5px 10px;
}
.contact_page table, tr, td{

    border: 1px solid black;
    border-collapse: collapse;
}
.table{
    padding: 100px;
}
.table input{
    width: 100%;
    padding: 10px;
    background-color: var(--Pale_Cornflower_Blue_4);
    border: none;
    border-radius: 5px;
}
.table textarea{
    background-color: var(--Pale_Cornflower_Blue_4);
    border-radius: 5px;
    max-width: 400px;
    height: 50px;
}
.primary_btn{
    width: 100%;
    margin: 10px 0;
}
@media screen and (max-width:850px){
    .contact_page{
        width: 100%;
    }
}
@media screen and (max-width:500px){
    /* .contact_page{
        width: 100%;
    } */
    .contact_page{
        justify-content: left;
    }
    .contact table tr td{
        display: flex;
        flex-direction: column;
        max-width:90%;
    }
    .table{
        margin-left: 10px;
    }
    .table input{
        padding: 5px;
        max-width: 100%;
    }
    .table textarea{
        max-width: 100%;
    }
    .contact_page table tr {
        display: flex;
        flex-direction: column;
    }
    .contact_page table ,tr, td{
        padding: 5px 0;
        border: none;
    }
    .table input{
        width: 200%;
    }
    .table textarea{
        width: 200%;
    }
    .primary_btn{
        width: 100%;
    }
}
@media screen and (max-width:430px){
    .table input{
        width: 140%;
    }
    .table textarea{
        width: 140%;
    }
    .primary_btn{
        max-width: 100%;
    }
}