*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #93ACB5;
}
.conatiner{
    font-family: 'Hind', sans-serif;
  background-color: black;
  /* align-content: center; */
}

.header{
    background-color:#6c756b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    border: 2px solid black;
    position: sticky;
    top: 0;
}
.logo{
    font-size:30px;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    transition: 1s;
}
.navbar ul li a:hover{
    color: blue;
    text-decoration: underline;
}
/* ************************************************* */
.slider{
    /* display: flex; */
    overflow: hidden;
    
    /* scroll-behavior: smooth; */
    
}
.slider .flow{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.slider .slider_container
{
    height: 100%;
}
.slider .slider_container .flow a{
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 10px;
    
}
.slider .slider_container .flow i{
    font-weight: bold;
    font-size: 80px;
    color: black;
}
#p1{

   background-image: url("./image/Slider/slider_img1.jpg");
   background-size:contain;
   background-position: top;
}
#p2{
    background-image: url("./image/Slider/slider_img2.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
#p3{
    background-image: url("./image/Slider/slider_img3.jpg");
    background-size:cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
#p4{
    background-image: url("./image/Slider/slider_img4.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* **************************************************** */
/* .category_conatiner{
    display: flex;
    justify-content: center;
} */

.category_conatiner .title{
    text-align: center;
    text-decoration: underline;
    padding: 10px;
   
}
.category_conatiner .category{
    display: flex;
    justify-content: space-around;
    padding: 50px ;
    
}

.category_conatiner .category .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.category_conatiner .category .items i{
  font-size: 50px;
  padding: 10px;
  color: #d74444;
}

/* ******************************************** */
.slider img{
    width: 100%;
    height: 100vh;
}
.slider{
    width: 100%;
    height: 90vh;
   background-color: aqua   ;
   border: 2px solid black;
}
.top4_container{
    
    display: flex;
    justify-content: center;
}
.top4{
    /* background-color: bisque; */
    margin: 20px 0;
    width: 95%;
    height: 350px;
    /* border: 2px solid black; */
    border-radius: 10px;
}
.top4 .title{
    text-align: center;
    text-decoration: underline;
    padding: 10px 0;
}
.top4 .box{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.top4 .books{
    width: 15%;
    height: 250px;
    /* background-color: aqua; */
}
.top4 .books .bookimg{
    max-height: 70%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.top4 .books .details{
    padding:0 10px;
}
.top4 .books .bookimg p{
   padding: 5px 0;
}
.top4 .bookimg img{
    /* width: 100%; */
    /* height: 200px; */
    cursor: pointer;
}
.box .details p{
    padding: 6px 0;
    text-align: center;
}
.top4 .b_name{
  font-weight: bold;
  cursor: pointer;
}

/* ******************************************************* */

.footer{
    background-color: #A9D3FF;
    border: 2px solid black;
    padding: 20px;
}
.footer .terms{
    text-align: center;
}
.footer .terms p{
    font-size: 16px;
    padding: 10px;
}
.footer .social_media{
    display: flex;
    justify-content: center;
}
.footer .social_media a{
   text-decoration: none;
}
.footer .social_media i{
    padding: 10px;
}


/* ****************************************    About-Us        ************************************************************ */

.about_container{
background-color: #f2f4ff;
    /* height: 100vh; */
    border: 2px solid black;
}
.about_container .about_section1
{
    /* background-color: #96c5f7;  */
    background-image: url("./image/professor-4441246_1920.jpg");
    
    background-position: top;
    background-size:cover;
    background-repeat: no-repeat;
    /* edit by  image */
    width: 100%;
    height: 80vh;
    border: 2px solid black;
    /* color: rgb(5, 252, 252); */

}
.about_container .about_section1 h1{
    position: relative;
    top: 20vh;
    left: 20vw;
    text-decoration: underline;
    font-size: 2rem;
    width: 50%;
}
.about_container .about_section1 p{
    font-size: 1.3rem;
    text-align:center;
    position: relative;
    top: 25vh;
    /* font-family:; */
    font-weight: bolder;
    background-color: rgba(150, 197, 247,0.6);
}

/* *********************************************************** */
.about_guide{
    background-color: #F2F4FF;
    padding: 1rem 0;
    background-image: linear-gradient(to right,rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url("./image/guide_bg.jpg");
}
.about_guide  .about_guide_title{
    padding: 1rem;
    text-decoration: underline;
    text-align: center;
}
.guide_row{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
.guide_row .row_steps{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
}
/* .guide_row .row_steps .row_img{
    border: 2px solid black;
} */
.guide_row .row_steps .row_img img{
    width: 90%;
    height: 250px;
    padding: 20px;
    
}
.guide_row .row_steps .row_step_{
    font-weight: bold;
    padding: 0.5rem 0.2rem;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255,0.5);
}

/* ******************************************************* */
.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    background-color: #6C756B;
    border: 2px solid black;
    padding-bottom: 2rem;
}
.services h1{
    padding: 1rem;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}
.services .services_list{
    display: flex;
    justify-content: space-around;
    width: auto;
    height: auto;
    
}
.services .services_list .list_items{
    width: 20%;
    font-size:1.3rem ;
    border: 2px solid black;
    border-radius: 10px;
    padding:  0.4rem;
    background-color: #96C5F7;
}

/* ******************************************************** */
